@import "tailwindcss";

@import "./font.css";
@import "@package/shadcn/css";

@source '../node_modules/@package/shadcn';
@source '../node_modules/@package/ui';

body {
  @apply font-Montserrat;
}

html body[data-scroll-locked] {
  /* https://github.com/shadcn-ui/ui/issues/4227 */
  overflow: visible !important;
  margin-right: 0 !important;
}

@theme inline {
  /* https://magicui.design/docs/components/orbiting-circles */
  --animate-orbit: orbit calc(var(--duration) * 1s) linear infinite;

  @keyframes orbit {
    0% {
      transform: rotate(calc(var(--angle) * 1deg)) translateY(calc(var(--radius) * 1px))
        rotate(calc(var(--angle) * -1deg));
    }
    100% {
      transform: rotate(calc(var(--angle) * 1deg + 360deg)) translateY(calc(var(--radius) * 1px))
        rotate(calc((var(--angle) * -1deg) - 360deg));
    }
  }
}
